.root {
  flex-grow: 1;
  animation: moveDown 0.5s ease-in-out;
}

.toolbar {
  background-color: #005f69;
  border: none;
}

.logo {
  width: 5%;
  flex-grow: 0;
}

.title {
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.sticky-footer {
  width: 100%;
  position: absolute; /* for it to disappear under last body element */
  bottom: 0; /* so the footer can stick to the bottom*/
  z-index: 10;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

.emailForm {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
