.root {
  flex-grow: 1;
  animation: moveDown 0.5s ease-in-out;
}

.menuButton {
  margin-right: 2px;
}

.toolbar {
  background-color: #005f69;
}

.logo {
  width: 5%;
  flex-grow: 0;
}

.title {
  display: flex;
  flex-grow: 1;
  text-align: center;
}

.sticky-footer {
  width: 100%;
  position: absolute; /* for it to disappear under last body element */
  bottom: 0; /* so the footer can stick to the bottom*/
  z-index: 10;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
